<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- TITLE -->
    <title>Register</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="images/favicon.png"/>

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Hind:400,300,500,600%7cMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- CSS LIBRARY -->
    <link rel="stylesheet" type="text/css" href="css/lib/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/lib/font-lotusicon.css">
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/lib/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="css/lib/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="css/lib/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="css/lib/settings.css">
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap-select.min.css">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
	
	
</head>

<!--[if IE 7]> <body class="ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 8]> <body class="ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9]> <body class="ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->


    <!-- PRELOADER -->
    <div id="preloader">
        <span class="preloader-dot"></span>
    </div>
    <!-- END / PRELOADER -->

    <!-- PAGE WRAP -->
    <div id="page-wrap">

        <!-- HEADER -->
        <header id="header">
            
            <!-- HEADER TOP -->
            <div class="header_top">
                <div class="container">
                    <div class="header_left float-left">
                        <span><i class="lotus-icon-cloud"></i> 18 °C</span>
                        <span><i class="lotus-icon-location"></i> 225 Beach Street, Australian</span>
                        <span><i class="lotus-icon-phone"></i> 1-548-854-8898</span>
                    </div>
                    <div class="header_right float-right">

                        <span class="login-register">
                            <a href="login.html">Login</a>
                            <a class="active" href="register.html">register</a>
                        </span>

                        <div class="dropdown currency">
                            <span>USD <i class="fa fa"></i></span>
                            <ul>
                                <li class="active"><a href="#">USD</a></li>
                                <li><a href="#">EUR</a></li>
                            </ul>
                        </div>

                        <div class="dropdown language">
                            <span>ENG</span>

                            <ul>
                                <li class="active"><a href="#">ENG</a></li>
                                <li><a href="#">FR</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END / HEADER TOP -->
            
            <!-- HEADER LOGO & MENU -->
            <div class="header_content" id="header_content">

                <div class="container">
                    <!-- HEADER LOGO -->
                    <div class="header_logo">
                        <a href="#"><img src="public/images/logo-header.png" alt=""></a>
                    </div>
                    <!-- END / HEADER LOGO -->
                    
                    <!-- HEADER MENU -->
                    <nav class="header_menu">
                        <ul class="menu">
                            <li>
                                <a href="index.html">Home <span class="fa fa-caret-down"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index-2.html">Home 2</a></li>
                                    <li><a href="index-3.html">Home 3</a></li>
                                    <li><a href="index-4.html">Home 4</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html">About</a></li>
                            
                            <li>
                                <a href="#">Room <span class="fa fa-caret-down"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="room-1.html">Room 1</a></li>
                                    <li><a href="room-2.html">Room 2</a></li>
                                    <li><a href="room-3.html">Room 3</a></li>
                                    <li><a href="room-4.html">Room 4</a></li>
                                    <li><a href="room-5.html">Room 5</a></li>
                                    <li><a href="room-6.html">Room 6</a></li>
                                    <li><a href="room-detail.html">Room Detail</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Restaurant <span class="fa fa-caret-down"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="restaurants-1.html">Restaurant 1</a></li>
                                    <li><a href="restaurants-2.html">Restaurant 2</a></li>
                                    <li><a href="restaurants-3.html">Restaurant 3</a></li>
                                    <li><a href="restaurants-4.html">Restaurant 4</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Reservation <span class="fa fa-caret-down"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="reservation-step-1.html">Reservation Step 1</a></li>
                                    <li><a href="reservation-step-2.html">Reservation Step 2</a></li>
                                    <li><a href="reservation-step-3.html">Reservation Step 3</a></li>
                                    <li><a href="reservation-step-4.html">Reservation Step 4</a></li>
                                    <li><a href="reservation-step-5.html">Reservation Step 5</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Page <span class="fa fa-caret-down"></span></a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">Guest Book <span class="fa fa-caret-right"></span></a>
                                        <ul class="sub-menu">
                                            <li><a href="guest-book.html">Guest Book 1</a></li>
                                            <li><a href="guest-book-2.html">Guest Book 2</a></li>
                                        </ul>
                                    </li>
                                    
                                    <li>
                                        <a href="#">Event <span class="fa fa-caret-right"></span></a>
                                        <ul class="sub-menu">
                                            <li><a href="events.html">Events</a></li>
                                            <li><a href="events-fullwidth.html">Events Fullwidth</a></li>
                                            <li><a href="events-detail.html">Events Detail</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="attractions.html">Attractions</a>
                                    </li>
                                    <li>
                                        <a href="#">Term Condition <span class="fa fa-caret-right"></span></a>
                                        <ul class="sub-menu">
                                            <li><a href="term-condition.html">Term Condition 1</a></li>
                                            <li><a href="term-condition-2.html">Term Condition 2</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Activiti <span class="fa fa-caret-down"></span></a>
                                        <ul class="sub-menu">
                                            <li><a href="activiti.html">Activiti</a></li>
                                            <li><a href="activiti-detail.html">Activiti Detail</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="check-out.html">Check Out</a></li>
                                    <li><a href="shortcode.html">ShortCode</a></li>
                                    <li><a href="page-404.html">404 Page</a></li>
                                    <li><a href="comingsoon.html">Comming Soon</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Gallery <span class="fa fa-caret-down"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="gallery.html">Gallery Style 1</a></li>
                                    <li><a href="gallery-2.html">Gallery Style 2</a></li>
                                    <li><a href="gallery-3.html">Gallery Style 3</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Blog <span class="fa fa-caret-down"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog-detail.html">Blog Detail</a></li>
                                    <li><a href="blog-detail-fullwidth.html">Blog Detail Fullwidth</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                    <!-- END / HEADER MENU -->

                    <!-- MENU BAR -->
                    <span class="menu-bars">
                        <span></span>
                    </span>
                    <!-- END / MENU BAR -->

                </div>
            </div>
            <!-- END / HEADER LOGO & MENU -->

        </header>
        <!-- END / HEADER -->

        <!-- ACCOUNT -->
        <section class="section-account parallax bg-11">
            <div class="awe-overlay"></div>
            <div class="container">
                <div class="login-register">
                    <div class="text text-center">
                        
                        <form action="/process_prices" class="account_form" method="post">
							 
							     
                                    <select id="category" name="category" onchange="updateItems()" class="awe-select">
                                        <option value="">Select Category</option>
										<option value="breakfast">BREAKFAST</option>
                                        <option value="ass">APPETIZERS/ SALAD/ SOUP</option>
                                        <option value="nhp">NIGERIAN HOT POT</option>
										<option value="cb">CHICKEN/ BEEF</option>
                                        <option value="sp">SEAFOOD/ PASTA</option>
										<option value="mexican">MEXICAN MENU</option>
                                        <option value="hsd">HOT BEVERAGES/ SNACKS/ DESSERT </option>
                                        <option value="speciale">SAVOY SPECIALE/ PIZZA</option>
										<option value="savoydrinks">SAVOY SUMMERSET DRINKS</option>
                                        <option value="savoybar">SAVOY COCKTAIL BAR</option>  
                                    </select>
						     	
							        <br> <br>
							        <!-- Dropdown for selecting items -->
                                    <select id="item" name="item">
                                       <option value="">Select Item</option>
                                    </select>
							
							        <br><br>
							        <input type="text" class="awe-input" placeholder="Price" id="price" name="price">
							
							
                            
                            <div class="field-form field-submit">
                                <button class="awe-btn awe-btn-13">UPDATE PRICE</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
		
		
		
		
        <!-- END / ACCOUNT -->
		
		

        <!-- FOOTER -->
        <footer id="footer">

            <!-- FOOTER TOP -->
            <div class="footer_top">
                <div class="container">
                    <div class="row">

                        <!-- WIDGET MAILCHIMP -->
                        <div class="col-lg-9">
                            <div class="mailchimp">
                                <h4>News &amp; Offers</h4>
                                <div class="mailchimp-form">
                                    <form action="#" method="POST">
                                        <input type="text" name="email" placeholder="Your email address" class="input-text">
                                        <button class="awe-btn">SIGN UP</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- END / WIDGET MAILCHIMP -->
                        
                        <!-- WIDGET SOCIAL -->
                        <div class="col-lg-3">
                            <div class="social">
                                <div class="social-content">
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- END / WIDGET SOCIAL -->

                    </div>
                </div>
            </div>
            <!-- END / FOOTER TOP -->

            <!-- FOOTER CENTER -->
            <div class="footer_center">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-12 col-lg-5">
                            <div class="widget widget_logo">
                                <div class="widget-logo">
                                    <div class="img">
                                        <a href="#"><img src="images/logo-footer.png" alt=""></a>
                                    </div>
                                    <div class="text">
                                        <p><i class="lotus-icon-location"></i> 225 Beach Street, Australian</p>
                                        <p><i class="lotus-icon-phone"></i> 1-548-854-8898</p>
                                        <p><i class="fa fa-envelope-o"></i> <a href="mailto:lotushotel@gmail.com">lotushotel@gmail.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Page site</h4>
                                <ul>
                                    <li><a href="#">Guest Book</a></li>
                                    <li><a href="#">Gallery</a></li>
                                    <li><a href="#">Restaurant</a></li>
                                    <li><a href="#">Event</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">ABOUT</h4>
                                <ul>
                                    <li><a href="">About</a></li>
                                    <li><a href="">Blog</a></li>
                                    <li><a href="">Contact Us</a></li>
                                    <li><a href="">Comming Soon</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-4 col-lg-3">
                            <div class="widget widget_tripadvisor">
                                <h4 class="widget-title">Tripadvisor</h4>
                                <div class="tripadvisor">
                                    <p>Now with hotel reviews by</p>
                                    <img src="images/tripadvisor.png" alt="">
                                    <span class="tripadvisor-circle">
                                        <i></i>
                                        <i></i>
                                        <i></i>
                                        <i></i>
                                        <i class="part"></i>
                                    </span>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!-- END / FOOTER CENTER -->

            <!-- FOOTER BOTTOM -->
            <div class="footer_bottom">
                <div class="container">
                    <p>&copy; 2015 Lotus Hotel All rights reserved.</p>
                </div>
            </div>
            <!-- END / FOOTER BOTTOM -->

        </footer>
        <!-- END / FOOTER -->

    </div>
    <!-- END / PAGE WRAP -->
    
	<script>
	
		const categorySelect = document.getElementById('category');
        const itemSelect = document.getElementById('item');

        // Sample data structure (you'll likely get this from a database)
       const menuData = {
           breakfast: [
			  "COMPLIMENTARY BREAKFAST",
              "NIGERIAN BREAKFAST",
              "BOILED POTATOES",
	          "ENGLISH BREAKFAST",
	          "EGGS",
        	  "PLAIN OMELETTE",
        	  "OMELETTE",
	          "BACON & HAM",
	          "SAUSAGE",
	          "BAKED BEANS",
	          "A POT OF TEA OR COFFEE",
	          "BOILED OR FRIED YAM",
	          "BOILED OR FRIED PLANTAIN",
	          "CORNFLAKES",
	          "FRIED EGG OR EGG SAUCE",
        	  "CORN BEEF STEW",
        	  "PORTION CHEESE SPREAD",
              
             // ... more breakfast items
            ],
    ass: [
      "CHICKEN TENDER/CHICKEN ESCALOPE/STRI",
      "CHICKEN WINGS/GOLDEN CHICKEN WINGS/LOLLIPOP",
      "SUYA BEEF OR CHICKEN",
	  "BACON & HAM",
	  "BUFFALO WINGS",
	  "CHICKEN WINGS",
	  "HOT CHILI CHICKEN WINGS",
	  "SPRING ROLLS",
	  "SPRINGS ROLLS WITH SHRIMPS",
	  "SAMOSA",
	  "SHRIMPS COCKTAIL",
      "CHEF HOUSE SALAD",
      "MIXED SALAD",
      "CHICKEN SALAD",
	  "PRAWN SALAD",
	  "NEPTUNE SALAD",
	  "SALADE NICOISE",
	  "MEXICAN SALAD",
	  "CREAM OF CHICKEN SOUP",
	  "CREAM OF CHICKEN CORN SOUP",
	  "CREAM OF CHICKEN NOODLE SOUP",
	  "CREAM OF MUSHROOM SOUP",
      "CREAM OF VEGETABLE SOUP",
      "FRESH ONION SOUP",
      "NIGERIAN PEPPERSOUP",
	  "FISH PEPPERSOUP",
	  "COWLEG PEPPERSOUP",
	  "FILLET FISH PEPPERSOUP",
      // ... more appetizers
    ],
     nhp : [
	  "EFO RIRO",
      "EFO RIRO WITH FISH",
      "EFO RIRO WITH FILLET FISH",
      "OKRO SEAFOOD",
      "EDIKAINKONG SOUP",
	  "AFANG SOUP",
	  "EGUSI SOUP",
      "MIXED OKRO SOUP(regular)",
      "OGBONO SOUP",
	  "SNAILS",
	  "FRIED OR BOILED FISH",
	  "DRIED FISH",
	  "FILLET FISH",
	  "STOCK FISH",
	  "BOILED OR FRIED PLANTAIN",
	  "YAM OR PLANTAIN POTTAGE",
	  "STEWED BEANS",
      "WITH BEEF/GOAT MEAT/ ASSORTED MEAT/ CHICKEN STEW",
      "WITH SNAILS",
      "WITH FRIED OR BOILED FISH",
      "PEPPERED SNAIL",
      "A PIECE OF BEEF/COWLEG/SHAKI/GOAT MEAT",
      "SOUP (LOCAL)",
      "SHRIMP",
      "PRAWNS",
      "CHICKEN HPT",
      "FISH HPT",
      "BEEF/ ASSORTED MEAT/ GOAT MEAT",
      "WHITE RICE/ SPAGHETTI",
      "JOLLOF RICE/ FRIED RICE",
      "EBA/ AMALA",
      "SEMOVITA/ POUNDED YAM/ WHEAT",
      "CHIPS (FRENCH FRIES)",
      "DODO/ YAM",
      "FILLET FISH (BONELESS FISH)",        
             // ... more NIGERIAN HOT POT items
            ],
    cb: [
      "CHICKEN SATAY",
      "PEPPER CHICKEN",
      "HOT & SPICY COMPOUND CHICKEN",
      "BARBEQUE CHICKEN",
      "ROASTED CHICKEN",
      "CURRY CHICKEN",
      "GRILLED CHICKEN",
      "CHICKEN & SHRIMPS STEW",
      "SHREDDED CHICKEN",
      "CHICKEN CASSEROLE",
      "CHICKEN STROGANOFF",
      "CHICKEN KEBAB",
      "CHICKEN GORDON BLUE",
      "BEEF SATAY",
      "GRILLED T. BONE STEAK",
      "GRILLED FILLET STEAK",
      "BEEF BOURGUIGNON",
      "BEEF STROGANOFF",
      "ORIENTAL GARLIC STEAK",
      "SHREDDED BEEF",
      "BEEF KEBAB (FILLET STEAK)",
      "LAMB CHOPS",

      // ... more chicken and beef
    ],
    sp: [
			  "BUFFALO PRAWNS",
              "GRILLED PRAWNS",
              "CURRY PRAWNS",
	          "HOT CHILLI PRAWNS",
	          "PEPPER PRAWNS",
        	  "SCAMPI",
        	  "GAMBAS A LA MERICAINE",
	          "FRIED FISH - SEAFOOD",
              "BOILED FISH - SEAFOOD",
	          "GRILLED FILLET FISH - SEAFOOD",
	          "ROASTED FISH - SEAFOOD",
	          "GRILLED FISH PANNET",
	          "POISSON A LA CREME",
	          "CREVETTE A LA MERICAINE",
	          "SHRIMPS IN PEPPER/CHILLI SAUCE",
	          "CHICKEN AND SHRIMP STEW",
        	  "SPAGHETTI BOLOGNAISE",
        	  "SPAGHETTI SEAFOOD/TOMATO SAUCE",
              "SPAGHETTI IN WHITE PRAWN SAUCE",
	          "SPAGHETTI A LA CARBONARA",
	          "SPAGHETTI IN CHICKEN TOMATO SAUCE",
	          "SAVOY SPAGHETTI SPECIALE",
	          "WITH CHICKEN AND SHRIMPS",
	          "WITH PRAWNS, CHICKEN & SHRIMPS OR HAM",
        	  "WITH PRAWNS & CHICKEN",
        	  "CHICKEN ALFREDO",
              "PENNY ARABIATTA IN CHILLI OR TOMATO SAUCE",
              "GRILLED SHRIMPS ALFREDO",
              
             // ... more seafood and pasta items
            ],
    mexican: [
      "D.D. NACHO",
      "POTATO SKIN",
      "ENCHILADA",
      "ENCHILADA WITH PRAWNS",
      "CHIMICHANGA",
      "BURRITOS",
      "TACO SALAD",
      "B.L.T. WRAPPED",
      "MEAT BALL",


      // ... more mexican menu
    ],
    hsd: [
			  "NESPRESSO",
              "HERBAL TEA",
              "TEA",
	          "COFFEE (NESCAFE)",
	          "HOT/COLD CHOCOLATE",
        	  "LATTE MACCHIATO/ CAFE LATTE",
        	  "CAPPUCINO",
	          "SAVOY CLUB SANDWICH",
	          "CHEESE BURGER",
	          "CHICKEN OR BEEF BURGER",
	          "EGG BURGER",
	          "CHEESE & HAM OMELETTE",
	          "FRESH FRUIT SALAD",
	          "BLENDED FRUITS/VEGETABLES",
	          "CREAM CARAMEL",
        	  "VANILLA ICE CREAM/ CHOCOLATE ICE CREAM",
        	  "BANANA SPLIT",
              "FRESH ORANGE",

              
             // ... more items
            ],
    speciale: [
      "CHICKEN SAUSAGE - FRIED RICE SPECIAL",
      "FRIED RICE FIESTA",
      "JOLLOF RICE FIESTA",
      "POTATOES LAIONISE",
      "SAUSAGE HAM PIZZA",
      "CHICKEN PIZZA",
      "SHRIMPS PIZZA",
      "STEAK PIZZA",
      "FRUCTUS DELIGHT PIZZA",
      "PIZZA MARGHERITA",
      "VEGETARIAN PIZZA",
      // ... more speciale items
    ],
     savoydrinks: [
			  "SMALL BOTTLED WATER",
              "BIG BOTTLED WATER",
              "MALTA GUINNESS",
	          "MALTINA/ AMSTEL MALT",
	          "COCACOLA",
        	  "DIET COKE",
        	  "RED BULL",
	          "PINEAPPLE/ ORANGE/ APPLE/ MANGO",
	          "CHAPMAN (SMALL GLASS)",
	          "CHAPMAN (BIG GLASS)",
	          "HEINEKEN (BIG)",
	          "HEINEKEN (SMALL)",
	          "GULDER",
	          "STAR/ RADLER",
	          "BIG STOUT",
        	  "MEDIUM STOUT",
        	  "SMALL STOUT",
              "EXTRA SMOOTH",
	          "SNAPP",
	          "SMIRNOFF",
	          "GOLDBERG",
	          "HARP",
	          "BUDWEISER",
	          "TROPHY",
        	  "SATZENBRAU",
        	  "GUINESS GOLD",
              "IRISH CREAM",
              "TIA MARIA",
              "COINTREAU",
              "WILD TURKEY",
              "SOUTHERN COMFORT",
              "TEQUILA OLMECA",
              "VERMOUTH",
              "KAHLUA",
              "MOET & CHANDON BRUT",
              "VEUVE CLIQUOT",
              "MOET NECTRE",
              "REMY MARTINS VSOP",
              "HENNESSEY VSOP",
              "HENNESSEY BLACK",
              "HENNESSEY VS",
              "MARTEL",
              "CHATEAUNEUF",
              "MOSCATO",
              "SAINT EMILLION",
              "THOMAS BARTON",
              "BOSCHENDAL",
              "JAN VAN RIEBEEK",
              "FRONTERA RED",
              "FRONTERA WHITE",
              "DROSTY HOF",
              "HOUSE WINE",
              "DAUGLASS GREEN RED",
              "DAUGLASS GREEN WHITE",
              "RUBIS RED-SWEET",
              "KAGOR RED",
              "KERROR",
              "B&G",
              "TALL HORSE",
              "BOSCHENDAL PAVILLION",
              "MOSCATO ELIXIER",
              "ARABELLA RED",
              "DOMAIN LA BAUME",
              "MARTINI ROSSO",
              "MARTINI BIANCO",
              "MARTINI EXTRA DRY",
              "CAMPARI",
              "GORDON'S GIN",
              "SMIRNOFF RED VODKA",
              "SMIRNOFF BLUE VODKA",
              "SKYY VODKA",
              "ABSOLUT BLUE VODKA",
              "BACARDI RUM",
              "MALIBU COCONUT",
              "PEACH SCHNAPPS",
              "GREYGOOSE VODKA",
              "CIROC VODKA",
              "BOMBAY SAPHIRE",
              "BELVEDERE",
              "BLACK LABEL",
              "RED LABEL",
              "BLUE LABEL",
              "JACK DANIELS",
              "CHIVAS REGAL",
              "WILD TURKEY",
              "JAMESON",
              "JAGGAMEISTER",
              "JAMESON BLACK BARREL",
              "GLENFIDDICH 15YRS",
              
             // ... more savoy items
            ],
    savoybar: [
      "SEXON THE BEACH",
      "LONG ISLAND",
      "BLACK RUSSIAN",
      "SCREW DRIVER",
      "EKO AKETE",
      "MARTINI - BAR",
      "BLOODY MARY",
      "TEQUILA SUNRISE",
      "CHI-CHI",
      "MAI-TAI",
      "STRAWBERRY MAGARITA",
      "PINEAPPLE MAGARITA",
      "AMERICANO",
      "CEASER MAKES SENSE",
      "PUSSY FOOT",
      "CHAPMAN (BIG GLASS)",
      "CHAPMAN (SMALL GLASS)",

      // ... more savoybar items
    ],
    // ... data for other categories
  };

  function updateItems() {
    const selectedCategory = categorySelect.value;
    itemSelect.innerHTML = '<option value="">Select Item</option>'; // Reset items

    if (selectedCategory in menuData) {
      const items = menuData[selectedCategory];
      items.forEach(item => {
        const option = document.createElement('option');
        option.value = item; // You might need a different value attribute
        option.text = item; 
        itemSelect.appendChild(option);
      });
    }
  }
	
		
	</script>

    <!-- LOAD JQUERY -->
    <script type="text/javascript" src="js/lib/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap-select.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=true"></script>
    <script type="text/javascript" src="js/lib/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="js/lib/owl.carousel.js"></script>
    <script type="text/javascript" src="js/lib/jquery.appear.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.countTo.js"></script>
    <script type="text/javascript" src="js/lib/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="js/lib/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/lib/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>